@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-colour: #0e4c6b;
}

body {
    background: rgb(253, 249, 237);
    margin: 0;
    font-family:'Rubik';
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 254, 250);
    padding: 20px, 100px;
    align-items: center;
    z-index: 100;
    
    .nav-hp {
        text-decoration: none;
        color: var(--primary-colour);
        transition: 0.3s;
    }
    
    .nav-hp:hover {
        color: rgb(241, 150, 65);
    }
    
    .nav-p {
        text-decoration: none;
        color: var(--primary-colour);
        transition: 0.3s;
    }
    
    .nav-p:hover {
        color: rgb(241, 150, 65);
    }
    
    .nav-c {
        text-decoration: none;
        color: var(--primary-colour);
        transition: 0.3s;
    }

    .nav-c:hover {
        color: rgb(241, 150, 65);
    }

    .logo-hp {
        height: 1.5em;
        margin-right: 23em;
    }

    ul {
        list-style-type: none;
        justify-content: space-between;
        text-align: right;
        display: flex;
        margin: 0;
        padding: 0.7em;
    }
}

.hero-hp {
    color: var(--primary-colour);

    .self-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        margin-top: 5em;
        border: 5px solid var(--primary-colour);
    }

    .intro-text { 
        font-size: large;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .socials-hp {
        list-style-type: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        max-width: 25%;
        
        .linkedin-logo {
            height: 47px;
        }

        .github-logo {
            height: 47px;
        }

        .instagram-logo {
            height: 47px;
        }
    }

    .fish-bg {

        position: relative;
        z-index: -1;

        .or-fish {
            position: fixed;
            height: 30em;
            height: 30em;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .bl-fish {
            position: fixed;
            height: 30em;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}